<%- include('partials/header', { nome: estudante.nome }) %>
<section>
  <h2>Contato</h2>
  <p><strong>Email:</strong> <%= contato.email %></p>
  <p><strong>Telefone:</strong> <%= contato.telefone %></p>
</section>
<%- include('partials/footer', { nome: estudante.nome }) %>
